<div class="row">
    <div class="col-sm-6">                        
        <div class="panel-text">
            <h5></h5>
            <div class="paragraph"></div>
            
            <form action="http://totalerp.com.br/carrinho/add" method="post"> 
            	<a href="#" class="btn">Detalhes do Produto</a>
            	<input type="hidden" name="produto" id="_produto" value="">
           		<input type="hidden" name="t" id="_tipo" value="">   
            	<input type="submit" class="btn reverse" value="Quero Contratar">
            </form>
          <!--   
            <a href="/contato" class="btn reverse">Contratar Produto</a>
           -->
           
        </div>
    </div>
    <div class="col-sm-6">                    
        <div class="image">
           
        </div>
        <div class="link-youtube">
            <a href="#" data-toggle="modal" data-target="#youtube-player">
                                                       
            </a>

        </div>
    </div>
</div> 

