<div class="row">
    <div class="col-sm-6">                        
        <div class="panel-text">
            <h5></h5>
            <div class="paragraph"></div>
            <a href="#" class="btn">Detalhes do Produto</a>
            <a href="/contato" class="btn reverse">Contratar Produto</a>
        </div>
    </div>
    <div class="col-sm-6">                    
        <div class="image">
           
        </div>
        <div class="link-youtube">
            <a href="#" data-toggle="modal" data-target="#youtube-player">
                                                       
            </a>

        </div>
    </div>
</div> 

